<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.ryan.kotlinsample">

    <dist:module dist:instant="true"/>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <permission android:name="com.ryan.provider.permission"></permission>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <receiver
                android:name=".study.MyReceiver"
                android:enabled="true"
                android:exported="true">
        </receiver>

        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>

        <service
                android:name=".study.ServiceLifecycle"
                android:exported="true"
                android:process=":isolate">
        </service>
        <service android:name=".study.IntentServiceSample">
        </service>

        <provider android:authorities="com.ryan.provider"
                  android:process=":test"
                  android:exported="true"
                  android:permission="com.ryan.provider.permission"
                  android:name=".study.MyContentProvider">

        </provider>
    </application>

</manifest>